@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import flag-icons CSS */
@import 'flag-icons/css/flag-icons.min.css';

:root {
  --background: #111827;
  --foreground: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
